// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
//$yellow: #FFC65A;
$orange: #E67E22;
//$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$terra: #DB8A74;
$green: #9CAFB7;
$light-green: #97B3A4;
$dark-green: #6F9B84;
$yellow: #EDC272;
$black: #444054;

// couleurs marine
$green-dark-ma:#6F9B84;
$green-m-ma: #97B3A4;
$green-l-ma: #C6D3CA;
