<footer>
<div class="footer-content">
    <div class"footer-links">
        <a href="#">Mentions légales</a>
        <a href="#">Politique de confidentialité</a>
        <a href="#">Gestion des cookies</a>
        <a href="#">Plan du site</a>
        <a href="#">Ozymedia</a>
    </div>
    <%= image_tag "icones/logo-immomann-white.png", class: "logo-immomann" %>
</div>
</footer>