<header class="header terra">
	<div>
	<%= link_to root_path do %>
		<%= image_tag "logo-mw.png", class:"logo" %>
	<% end %>
		<div class="boutons-header">
			<a href="" class="btn black">Mon espace pro</a>
			<%= link_to "Nous contacter", contact_path, class:"btn black" %>
			<i data-controller="hello" data-action="click->hello#mobile" class="fa-solid fa-bars" id="btn-mobile"></i>
		</div>
	</div>
</header>