<header class="header terra">
	<div>
	<%= image_tag "logo-mw.png", class:"logo" %>
		<div class="boutons-header">
			<a href="" class="btn black">Mon espace pro</a>
			<a href="" class="btn black">Nous contacter</a>
			<i class="fa-solid fa-bars" id="btn-mobile"></i>
		</div>
	</div>
</header>