

<nav role="navigation" class="navbar2">
  <ul>
        <li>Acheter</li>
        <li>Vendre
            <ul>
                <li>Estimer</li>
                <li>Sub Item1</li>
                <li>Sub Item1</li>
            </ul>
        </li>
        <li>Louer</li>
        <li>Gestion locative
            <ul>
                <li>Sub Item1</li>
                <li>Sub Item1</li>
                <li>Sub Item1</li>
            </ul>
        </li>
        <li>Home Staging</li>
        <li>Bureaux & commerces</li>
    </ul>
    <a href="">Déposer une annonce</a>
</nav>

