<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Test réception email ...!</p>
    <p>
    ...<br>
    --------------------------
    </p>
    <p>Name: Nom</p>
    <p>Email: Email</p>
    <p>Address: Adresse </p>
    <p>Phone: Tel </p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>Message</p>
  </body>
</html>