<h1>Annonces#index</h1>
<p>Find me in app/views/annonces/index.html.erb</p>
<ul>
<% @annonces.each do |annonce| %>
    <p><%= annonce.titre %></p>
    <% annonce.photos.each do |photo| %>
        <%= image_tag(photo) %>
    <% end %>
<% end %> 
</ul>
