<h1>Annonces#index</h1>
<p>Find me in app/views/annonces/index.html.erb</p>


<% @annonces.each do |annonce| %>
    <% annonce.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 200, crop: :fill %>
    <% end %>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
