.annonce {
    list-style-type: none;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    p {
        margin: 0;
        padding: 0;
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 3px 3px 0px 0px
    }
    .annonce-titre {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Montserrat';
    font-weight: 400;
    }
    .annonce-price {
        font-size: 0.8em;
    }
    .annonce-town {
        font-size: 0.8em;
        font-weight: lighter;
    }
    .annonce-card-description {
        padding: 5px 10px;
    }
}
a > .annonce {
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
    height: auto;
}
.annonce-banner {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
#annonces {
    a {
        text-decoration: none;
    }
}
.annonce-show {
    h1, h2 {
        font-weight: 400;
    }
}
#tableaux-energie {
    display: flex;
    width: 100%;
    div {
        width: 100%;
    }
}
.accordion-infos {
    //border: solid 1px;
    border-radius: 3px;
    padding: 1em;
    border: solid 1px lightgrey;
    background-color: #fffefe;
    margin-bottom: 2px;
    h2, h3, h4 { margin: 0; padding: 0; font-weight: 300; font-size: 1em;}
    summary {
        list-style-type: '';
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    table {
        width: 100%;
        border: solid 1px lightgrey;
        tr {
            display: flex;
            td { width:100%; border: solid 1px lightgrey;}
        }
    }
}