.annonce {
    list-style-type: none;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    p {
        margin: 0;
        padding: 0;
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 3px 3px 0px 0px
    }
    .annonce-titre {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Montserrat';
    font-weight: 400;
    }
    .annonce-price {
        font-size: 0.8em;
    }
    .annonce-town {
        font-size: 0.8em;
        font-weight: lighter;
    }
    .annonce-card-description {
        padding: 5px 10px;
    }
}
a > .annonce {
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
    height: auto;
}
.annonce-banner {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
#annonces {
    a {
        text-decoration: none;
    }
}
.annonce-show {
    h1 {
        font-weight: 400;
    }
    h2 {
        font-weight: 300;
    }
}
#tableaux-energie {
    display: flex;
    width: 100%;
    div {
        width: 100%;
    }
}
.accordion-infos {
    //border: solid 1px;
    border-radius: 3px;
    padding: 1em;
    border: solid 1px lightgrey;
    background-color: #fffefe;
    margin-bottom: 2px;
    h2, h3, h4 { margin: 0; padding: 0; font-weight: 300; font-size: 1em;}
    summary {
        list-style-type: '';
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    table {
        width: 100%;
        margin-top: 0.8em;
        //border: solid 0.5px lightgrey;
        tr {
            display: flex;
            td {
                 width:100%; border: solid 0.5px lightgrey;
                 display: flex;
                 align-items: center;
                 padding: 5px 0px 5px 10px;
                 p {margin: 0;}
            }
        }
    }
    #tableaux-energie {
        h4 {
            margin-bottom: 0.8em;
        }
        .tableau-energie {
            margin-top: 0.8em;
        }
    }
}
.flex-show {
    display: flex;
    justify-content: space-between;
    .main-show {
        //border: solid 1px;
        width: 80%;
    }
    aside {
        //border: solid 1px;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        .titre-avatar {
            margin: 0;
            font-size: 1em;
            margin-top: 0.5em;
            font-weight: 600;
            span {
                display: block;
                font-size: 0.9em;
                font-weight: 400;
            }
        }
        .cta-agent-immo {
            padding-top: 5px;
            padding-bottom: 5px;
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                padding: 5px;
                img { width: 40px;}
                &:hover {
                    img {content: url("assets/icones/mail-black.jpg");}
                }
                &:hover:first-of-type {
                    img {
                        content: url("assets/icones/tel-black.jpg");
                    }
                }
            }
        }
    }
}
.map-show {
    //border: solid 1px;
    #map {
        width: 100%;
        height: 50vh;
    }
}
.main-show-entete {
    h1,h2 { text-align: left; margin: 0; padding: 0; font-size: 1em;}
    h1 {
        font-size: 1.8em;
        font-weight: 500;
        margin: 10px 0;
    }
    h2 {
        display: flex;
        align-items: center;
        img { margin-right: 5px;}
    }
}
.main-show-pictos {
    //overflow-x: auto;
    ul {
        overflow-x: auto;
        display: flex;
        list-style: none;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 1.2em;
            p {
                white-space: nowrap;
            }
        }
    }
}