.annonce {
    p {
        margin: 0;
        padding: 0;
    }
    img {
        width: 100%;
    }
    .annonce-titre {
    font-size: 1.5em;
    font-weight: bold;
    }
    .annonce-price {

    }
    .annonce-town {
        font-size: 1em;
        font-weight: lighter;
    }
}