footer {
    min-height: 10em;
    background-color: $black;
    padding-top: 2em;
    a, p { color: white; text-decoration: none;}
    a {
        margin-right: 15px;
    }
    a:hover {
        text-decoration: none;
        color: white;
    }
    div {
        max-width: 1500px;
        padding-left: 20px;
        padding-right: 20px;
        //margin: auto;
    }
    div:first-of-type {
        display: flex;
        justify-content: space-between;
    }    
}