.simple_form {
    .mb-3 { margin: 0 !important;}
    input, textarea, select, .select, .string { width: 100%; margin: 0; margin-bottom: 8px;}
    .long {
        display: flex;
        justify-content: space-between;
        & > div {
            width: 100%;
        }
        & > div:first-of-type {
            margin-right: 8px !important;
        }
    }
    &.contact_mail {
        width: 50%;
        h2 { text-align: center;}
    }
    input[type=submit] {
        display: inline-flex;
        width: fit-content;
        align-self: flex-end;
        background-color: $yellow;
    }
}