p, a, label {
    font-family: "Montserrat";
}
h2 { font-family: "Nothing You Could Do";}
.inside {
    max-width: 1500px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    border: solid 1px red;
    h2 {
        text-align: center;
    }
}