p, a, label {
    font-family: "Montserrat";
}
h2 { font-family: "Nothing You Could Do";}
.inside {
    max-width: 1500px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    h2 {
        text-align: center;
    }
}
.grille {
    display: grid;
    grid-gap: 20px;
    border: solid 1px red;
    min-height: 50px;
    margin: auto;
    div {
        border: solid 1px blue;
        height: 30px;
        min-width: 20vw;
        width: 100%;
        //max-width:25%;
    }
    &.three {
        display: flex;
        justify-content: center;
        div {
            //min-width: 20vw;
            max-width:25%;
        }
    }
    &.four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}