#map-annonces {
    display: flex;
    #annonces {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 200px;
        grid-gap: 10px;
        padding: 0px 10px;
    }
    #map {
        width: 50%;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
text-align: center;
font-family: "Open Sans", sans-serif;
}