.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar2 {
  padding-right: min(20px);
  padding-left: min(20px);
  //padding-left: min(20px);
  max-width: 1500px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: $yellow;
    font-weight: 400;
  }
  & > ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
  }
  li {
    font-family: verdana;
    font-size: 0.8rem;
    color: #333;
    line-height: 40px;
    list-style-type: none;
    /* [disabled]list-style-image: url(../images/li.png); */
    background-color: white;
    width: auto;
    float: right;
    text-align: center;
    height: 40px;
    //margin-left: 2px;
    display: block;
    padding: 0 2em;
  }
  li ul {
    display: none;
    background-color: $green;
    width:100%;
    position: absolute;
    left: 0;
    padding-left: 0;
  }
  ul li ul li {
    background-color: $green;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
    padding: 0 2em;
    font-size: 0.8rem;
}
  li:hover {
    background-color: $green;
    cursor: pointer;
}

li:hover>ul {
    display: block;
}
}
