.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar2 {
  padding-right: min(20px);
  padding-left: min(20px);
  //padding-left: min(20px);
  max-width: 1500px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: $yellow;
    font-weight: 400;
  }
  & > ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
  }
  li {
    font-family: verdana;
    font-size: 0.8rem;
    color: #333;
    line-height: 40px;
    list-style-type: none;
    /* [disabled]list-style-image: url(../images/li.png); */
    background-color: white;
    width: auto;
    float: right;
    text-align: center;
    height: 40px;
    //margin-left: 2px;
    display: block;
    padding: 0 2em;
  }
  li ul {
    display: none;
    background-color: $green;
    width:100%;
    position: absolute;
    left: 0;
    padding-left: 0;
  }
  ul li ul li {
    background-color: $green;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
    padding: 0 2em;
    font-size: 0.8rem;
}
  li:hover {
    background-color: $green;
    cursor: pointer;
}

li:hover>ul {
    display: block;
}
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .fa-bars, #mobilenav {display:none;}
  .navbar2 {
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .fa-bars, #mobilenav {display:none;}
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .fa-bars, #mobilenav {display:none;}
  .navbar2 {
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .fa-bars, #mobilenav {display:none;}
  .navbar2 {
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .boutons-header {
    .btn {
      display: none;
    }
    .fa-bars {font-size:2em;}
  }
  .navbar2 {
    ul, a { display: none; }
  }
  #mobilenav {
    position: absolute;
    height: 100vh;
    background-color: white;
    z-index: 20;
    top: 0;
    padding: 0;
    padding-left: min(20px);
    div {
      min-height: 100px;
      display : flex;
      align-items: center;
    }
    .logo { height: 60px;}
    li {
      list-style-type: none;
      text-align: left;
    }
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .boutons-header {
    .btn {
      display: none;
    }
    .fa-bars {font-size:2em;}
  }
  .navbar2 {
    ul, a { display: none; }
  }
  
}

